
    * {
      box-sizing: border-box;
    }
   
    
    /* Create two equal columns that floats next to each other  #F6EE58*/
    .column1 {
      float: left;
      width: 20%;
      padding: 10px;
      background-color: #e6c352;
    }
    .column2 {
      float: left;
      width: 80%;
      padding: 10px;
       
    }
    
    .row{
      background-color:#e6c352;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }

    .header img{
        float: left;
        width: 200px;
        height: 80px;
        background: rgb(44, 43, 43);
        padding-top: 15px;
    }

    .header h1{
        position: relative;
        top: 18px;
        left: 10px;
    }

    .files a{
      display: block;
      margin: 20px 0;
      padding-left: 10px;
      color: #103d32;    }
    
    .files a:hover {
      color: crimson;
    }

    
    .nav-link {
      justify-content: space-between;
      margin-bottom: 60px;
      margin-left: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: lowercase;
    }
    a, ul {
      margin: 0;
      padding: 0;
      text-decoration: none;
      color:DodgerBlue;
      font-size: 20px;
    }

    p{
        font-size: 20px;
    }


    nav{
      
      justify-content: space-between;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }

    nav ul{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 100px;
      color: rgb(228, 124, 28);
    }

    nav li{
      list-style-type: none;
      margin-left: 20px;
    }

    nav h1{
      font-size: 2.5em;
      color:white;
    }

    nav a:hover {
      color: rgb(240, 146, 23);

    }

    .find-issue form{
      max-width: 100%;
      margin: 15px;  
      display:flex;    
      flex-direction: row; 
      justify-content:  center;
      align-self: start; 
      align-items: center;
      
    }

    .find-issue input,
    .find-issue label{
      display: flex;
      margin-top: 24px;
      margin-left: 10px;
      font-size: 20px;
    }


    .find-issue button{
      margin-top: 20px;
      background: rgb(228, 124, 28);
      color:  white;
      padding: 6px;
      border: 0;
      font-size: 1em;
      cursor: pointer;
      margin-left: 10px;
      border-radius: 5px;
    }

    h2 {
      margin: 0;
      display: inline-block;
      color:DodgerBlue;
    }
    .downloadBtn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 15px;
      float: right;
      border-radius: 8px;
    }

      /* Darker background on mouse-over */
      .downloadBtn:hover {
        background-color: rgb(240, 146, 23);
      }

      body{
        background: rgb(44, 43, 43);
      }

  .comments{
    color:rgb(58, 4, 207);
  }

  .git-input{
    font-size: 10px;
  }

  