<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/index.css">
<style></style>
<title> <%= title %>| Custom Report</title>
<link rel="icon" href="../images/njc.webp" type="image/x-icon" />

</head>