<nav>
    <div class="row header" style="background-color: rgb(44, 43, 43);">
        
        <img src="../images/logo_gray.webp" width="80" height="80" style="vertical-align:middle;margin:0px 50px" >          
        <h1 style="text-decoration:cornsilk;"> Mule Migration Assistant Report </h1>

            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/issue/update">DB Update</a></li>
            </ul>
          
    
    </div>
</nav>