.h-style {
  border: 1px solid black;
  
  background-color: #0B614B;
  color:white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

.header img{
  float: left;
  width: 80px;
  height: 80px;
  background: #555;
}

.header h1{
  position: relative;
  top: 18px;
  left: 10px;
}

.col-left-margin { 
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

.td-col1 {width:50%; text-align: left;}
.td-col2 {width:10%; text-align: center;}
.td-col3 {width:10%; text-align: center;}
.hr-line {width: 60%; margin-left: auto; margin-right: auto;}
.hr-align{ 
  text-align: left; 
  background-color: #85C1E9;  
  border: 1px solid #8d8d8d;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;  padding-left: 15px; 
  margin: 50px;
  width: 100%; 
}
.normal-text{font-weight: normal;}



#report {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;}

.column { float: left; width: 33.33%; padding: 5px;}
.row::after {content: ""; clear: both; display: table; }
#report td, #report th { border: 1px solid #8d8d8d; padding: 8px;}
#report th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 5px;  padding-left: 5px;  text-align: left;
  background-color: #0B614B;
  color: white;
  font-weight: bold;
}

#report-issue {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;}
  
#report-issue th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px; 
  padding-left: 15px;  
  background-color: #F1C40F;
  color:black;
  border: 1px solid #8d8d8d;
  margin: 50px ;
  font-weight: bold;
}
#report-issue td, #report-issue td { border: 1px solid #8d8d8d; padding: 8px;}

.tr-border{ border: 1px ; background-color: #C7F6D5; } 

.tr-border1{ border: 1px solid #ddd; } 
      